body {
  background-color: #f9f9fa;
  color: #444;
  font-size: 1em;
  font-family: sans-serif;
  margin: 0;
}

/*** Manage Bar ***/
#menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #c4cdd4;
  height: 50px;
  z-index: 1;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

#menu .title {
  display: inline-block;
  display: flex;
  align-items: center;
  margin: auto 0;
  font-size: 32px;
  color: #424f5a;
}

#menu .title span {
  padding-left: 10px;
}

#menu .right-buttons {
  display: inline-block;
  margin: auto 0;
}

/*** End Manage Bar ***/

/*** Manage Panel ***/

/** Group Action Bar **/

.group-action {
  display: flex;
  background-color: var(--not-checked);
}

.group-action.left {
  align-items: flex-start;
}

.group-action.right {
  align-items: flex-end;
}

.group-action > i {
  font-size: 30px;
  cursor: pointer;
  width: 32px;
  margin: auto;
  padding: 6px 0;
  box-sizing: border-box;
}

.group-action > i:hover {
  background-color: var(--not-checked-hover);
  cursor: pointer;
}

.searchbar {
  flex: 1;
}

/** Group Action Bar **/

#manage-panel {
  width: 100%;
  border-top: 4px solid #424f5a;
  border-bottom: 4px solid #424f5a;
  box-sizing: border-box;
}

.group-lists {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.invisible {
  display: none !important;
}

/** Group Lists **/
#manage-panel .left-list{
  box-sizing: content-box;
  display: inline-block;
  max-width: 800px;
  min-width: 350px;
  border-left: 1px solid #424f5a;
  border-right: 1px solid #424f5a;
}

.group-list {
  height: calc(100vh - 110px) !important;
  box-sizing: border-box;
}

/** End Group Lists **/




/** End Below Actions **/
/*** End Manage Panel ***/
