html {
  font-family: -apple-system,BlinkMacSystemFont,Cantarell,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}


/*
.option-section:not([hidden])~.option-section {
  margin-top: 32px;
  padding-top: 15px;
  border-top: 1px solid rgba(12, 12, 13, 0.15);
}
*/

body {
  font-size: 17px;
}

.option-section {
  max-width: 1000px;
  margin: auto;
}

.option-button, .option-input-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.control {
  margin-bottom: 5px;
}

#content {
  height: 100%;
}

#menu {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #424f5a;
  width: 100%;
  color: #c4cdd4;
  z-index: 1;
}

.logo {
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  color: #2aa1c0;
}

.logo span {
  line-height: 50px;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
}

.tabs {
  display: inline-block;
  float: left;.option-button, .button-file {
  margin-right: 30px;
}
}

.tab {
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  color: #c4cdd4;
}

.web-icon {
  color: #fff;
}

.selected {
  border-top: solid #2aa1c0 5px;
  box-sizing: border-box;
  line-height: 40px;
  padding-bottom: 5px;
  background-color: #343f48;
}

.tab:hover {
  background-color: #5e6972;
}

.tab:active {
  outline: none;
}

/** Button for responsive design **/
.show-menu {
    text-decoration: none;
    float: right;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 2em;
    display: none;
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .tabs{
    display: block;
}
input[type=checkbox]:checked ~ label{
   transform : rotate(90deg);
}
/** End Button for responsive design **/

/*Responsive Styles*/
@media screen and (max-width : 550px){
    /*Make dropdown links appear inline*/
    .tabs {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .tab {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .tab, .tabs {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}
/*END Responsive Styles*/


#panel {
  display: block;
  position: relative;
  top: 50px;
  width: 95%;
  margin: auto;
  color: #484848;
  padding-bottom: 50px;
}

.invisible {
  display: none;
}

/** Sub panel -- section **/
.section-title {
  margin-bottom: 30px;
  font-size: 2em;
  border-bottom: #2aa1c0 solid 2px;
}

.option-button, .button-file {
  display: inline-block !important;
  width: 140px;
}

/*** Tooltip ****/
.subsection {
  width: 50%;
}

.subsection-left {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
    position: relative;
    /*display: inline-block;*/
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 90%;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 22%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext ul {
  padding-left: 20px;
}

.tooltiptext h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*** END Tooltip ****/

/*** Button in dangerous zone ***/

.dangerous-zone .option-button {
  background: var(--dangerous-checked);
}

.dangerous-zone .option-button:focus, .dangerous-zone  .option-button:hover {
  background: var(--dangerous-checked-hover);
}

/*** End Button in dangerous zone *****/

/**** Shortcuts *****/
.shortcut-subtitle {
  cursor: pointer;

}

.option-section.shortcuts table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 30px;
}

.option-section.shortcuts tr>th {
  padding-bottom: 10px;
}

.option-section.shortcuts tr>td {
  padding-bottom: 5px;
}

.command_shortcuts {
  padding-right: 15px;
}

.command_description {
  padding-left: 15px;
  border-left: 1px solid black;
}
/**** End Shortcuts *****/

.option-section.about {
  text-align: justify;
}

.double-column-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.double-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.double-buttons .option-button {
  border-radius: 3px;
}

.double-buttons .option-button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.double-buttons .option-button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.row-about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.row-about div {
  min-width:200px;
  max-width:300px;
  padding: 0 20px;
}

.row-about-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.row-about-center img {
  padding: 0 30px;
  height: 92px;
  width: 92px;
  cursor: pointer;
}
