<!DOCTYPE html>
<!--
  Page for displaying in tests
  Can custom the url and the title to create dynamically different tabpages
  Example: /tests/test-page/template/template.html?title=Coucou&url=/lets/go
  Step by step
    /tests/test-page/template/template.html
      ?title=Coucou
      &url=/lets/go
-->
<html>
<head>
    <meta charset="utf-8">
    <title id="title">New Tab</title>
    <link id="favIconUrl" rel="shortcut icon" href=""/>
    <script type="text/javascript" src="template.js"></script>
</head>
<body>
    <h2>Hola I am a test page</h2>
</body>
</html>
