ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  cursor: move;
  overflow: hidden;
}

.empty-list {
  padding: 5px;
}

/** Mix **/
.group, .tab, .addButton {
  cursor: pointer;
}
/* Group in window and active tab */


/** Colors **/
.group.active, .tab.active {
  background-color: var(--group-open);
}

.group.active.focusGroup, .focusGroup .tab.active {
  background-color: var(--group-focus);
  color: #333;
}

.group:hover, .tab:hover, .group:focus, .tab:focus {
  background-color: var(--group-hover) !important;
  color: #fff !important;
}

.group.incognito {
  background-color: var(--private-debug);
}
.group.incognito.active, .incognito .tab.active {
  background-color: var(--private-open);
}

.group.incognito.active.focusGroup, .incognito.focusGroup .tab.active {
  background-color: var(--private-focus);
}

.group.incognito:hover, .incognito .tab:hover {
  background-color: var(--private-hover)  !important;
  color: #fff  !important;
}

.group-list i:hover {
  background-color: var(--action-hover);
}

.group-list .incognito i:hover {
  background-color: var(--private-open);
}

.groupadd-controls i:hover {
  background-color: var(--not-checked);
}

.addButton:hover {
  background-color: var(--not-checked-hover);
}

.group:hover .group-title input {
  color: #fff;
  border: 1px solid #fff;
}

.group.closing .group-title, .group.removing .group-title {
  color: #bbb;
  text-decoration: line-through;
  background-color: var(--not-checked);
}

.group.closing i:hover, .group.removing i:hover {
  background-color: var(--not-checked-hover);
  color: #444;
}

.group .highlight {
  background-color: var(--group-highlight);
  border-radius: 3px;
  color: #fff;
}

.group.incognito .highlight {
  background-color: var(--private-highlight);
  border-radius: 3px;
  color: #fff;
}


/** End Colors **/

/** End Mix **/

/*** Group List ***/
.group-list {
  font-size: 16px;
  height: 100%;
  max-width: 800px;
  min-width: 350px;
  overflow-x: hidden;
}
/*** End Group List ***/

/*** Group ***/
.group {
  border-bottom: 1px solid #a6a6a6;
  max-width: 800px;
  min-width: 350px;
  color: #444;
  box-sizing: border-box;
  padding: 0;
}

.group:not(.expanded) {
  height: 34px;
}

.expanded.group-title {
  height: 34px;
}

.group-title {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 5px;
  box-sizing: border-box;
}

.group-title-text {
  margin: auto 0;
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.group-controls {
  margin: auto 0;
  align-self: flex-end;
}

.group-controls i {
  font-size: 20px;
  padding: 7px 0px;
}

.group-title input {
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #444;
  padding: 1px;
  flex: 1;
  height: 21px;
  margin: auto 0;
}

.group .group-title:hover input {
  width: 100%;
}

.group .group-controls .group-close, .group .group-controls .group-edit, .group .group-controls .group-undo {
  display: none;
}

.group:hover .group-controls .group-close, .group:hover .group-controls .group-edit {
  display: inline-block;
}

.group.removing:hover .group-controls .group-undo, .group.closing:hover .group-controls .group-undo {
  display: inline-block;
}

/*** End Group ***/

/*** Tab List ***/
.tab-list {
  display: none;
  border: 1px solid #a6a6a6;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #fff;
}

.tab-list:hover {
  border: 1px solid transparent;
}

.expanded .tab-list {
  display: block;
}
/*** End Tab List ***/

/*** Tab ***/
.tab {
  color: #444;
  padding-left: 5px;
  display: flex;
  height: 34px;
  box-sizing: border-box;
}

.tab-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto 0;
}

.pinned-icon {
  opacity: 0.7;
  height: 16px;
  width: 16px;
  margin: auto 0;
}

.tab-icon {
  height: 16px;
  width: 16px;
  margin: auto 0;
  margin-right: 3px;
}

.tab-controls {
  margin: auto 0;
  align-self: flex-end;
  height: 100%;
}

.tab-controls i {
  padding: 9px 0px;
}

.tab .tab-controls .tab-edit {
  display: none;
}

.tab:hover .tab-controls .tab-edit {
  display: inline-block;
}
/*** End Tab ***/

/**** Search Bar ***/

body {
  background-color: #fff;
}

.cancel-search {
  right: 12px;
  display: inline-block;
  opacity: 0.7;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 0px;
}

.searchbar {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.searchbar input {
  width: 100%;
  height: 34px;
  padding-left: 5px;
}

.hiddenBySearch {
  display: none;
}

.no-search-result {
  padding: 5px;
  position: relative;
}

.searchbar {
  margin-bottom: 3px;
}

/*** Search End ***/

/** Add Button **/
.addButton {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  font-weight: bold;
}

.addButton .group-title {
  display: flex;
  height: 100%;
  width: 100%;
}

.addButton input {
  flex: 1;
  margin: auto;
}

.addButton .group-title span {
  margin: auto;
  font-size: 15px;
}

.groupadd-controls i {
  font-size: 20px;
  padding: 6px 0px;
}
/** End Add Button **/

/*
.group:nth-child(odd), .group:nth-child(odd) .tab-list {
  background-color: var(--group-odd);
}

.group:nth-child(even), .group:nth-child(even) .tab-list {
  background-color: var(--group-even);
}
*/

/** Drag & Drop **/
.dragTopBorder {
  border-top: 3px solid #2aa1c0 !important;
  padding-bottom: 3px;
}

.group.dragTopBorder {
  padding-bottom: 2px;
}

.dragBottomBorder {
  padding-top: 3px;
  border-bottom: 3px solid #2aa1c0 !important;
}

.group.dragBottomBorder {
  padding-top: 2px;
}

.group.draggingOver, .draggingOver {
  border: 1px dashed #ccc;
  background-color: #c0e7f1;
}

.addButton.draggingOver, .draggingOver {
  border: 1px dashed #ccc;
  background-color: #c0e7f1;
}

/** End Drag & Drop **/

.group-controls i, .tab-controls i, .cancel-search, .groupadd-controls i {
  width: 26px;
  background-color: none;
}
