ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

/** Tab Actions Menu **/
.tab-actions {
    position: relative;
}

.tab-actions .tab-actions-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 300px;
    background-color: black;
    border-radius: 6px;
    margin: 0px 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 110%;
    color: #000;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 4px #555;
}
.tab-actions-menu.top {
    top: -5px;
}
.tab-actions-menu.bottom {
    bottom: -5px;
}
.tab-actions-menu.middle {
    bottom: -50px;
}

.tab-actions .tab-actions-menu::after {
    content: "";
    position: absolute;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #f1f1f1;
}
.tab-actions-menu.top::after {
    top: 17px;
}
.tab-actions-menu.bottom::after {
    bottom: 17px;
}
.tab-actions-menu.middle::after {
    bottom: 62px;
}

.tab-actions-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.tab-actions-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 30px;
}

.tab-actions-menu .row {
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  padding: 0 5px;
}

.tab-move-to-group-panel{
  max-height: 180px; /* 5*34 + 2*5 */
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-actions-menu .separator {
  border-bottom: 1px solid #ccc;
  display: block;
}

.tab-actions-menu .row img {
  height: 20px;
  width: 20px;
  padding: 3px;
}

.tab-actions-menu .row:hover {
  background-color: #ccc;
}
/** END Tab Actions Menu **/

li {
  list-style-type: none;
  overflow: hidden;
}

.empty-list {
  padding: 5px;
}

/** Mix **/
.group, .tab, .addButton {
  cursor: pointer;
}

.group:focus, .tab:focus {
  outline: 0;
}
/* Group in window and active tab */

/** Colors **/

.group.hoverStyle:hover, .tab.hoverStyle:hover {
  background-color: var(--group-open) !important;
}

.group.incognito:not(.active) {
  background-color: var(--private-debug);
}

.group.incognito.hoverStyle:hover, .incognito .tab.hoverStyle:hover {
  background-color: var(--private-open)  !important;
}

.group-control:hover, .tab-edit:hover {
  background-color: var(--action-hover);
}

.incognito .group-control:hover, .incognito .tab-edit:hover {
  background-color: var(--private-focus);
}

.groupadd-controls i:hover {
  background-color: var(--not-checked);
}

.addButton:hover {
  background-color: var(--not-checked-hover);
}

.group.closing .group-title, .group.removing .group-title {
  color: #bbb;
  background-color: var(--not-checked);
}

.group.closing .group-title-text, .group.removing .group-title-text {
  text-decoration: line-through;
}

.group.closing i:hover, .group.removing i:hover {
  background-color: var(--not-checked-hover);
  color: #444;
}

.group .highlight {
  background-color: var(--group-highlight);
  border-radius: 3px;
  color: #fff;
}

.group.incognito .highlight {
  background-color: var(--private-highlight);
  border-radius: 3px;
  color: #fff;
}


/** End Colors **/

/** End Mix **/

/*** Group List ***/
.group-list {
  font-size: 16px;
  height: 100%;
  max-width: 800px;
  min-width: 350px;
  overflow-x: hidden;
}
/*** End Group List ***/

/*** Group ***/
.group {
  border-bottom: 1px solid #a6a6a6;
  max-width: 800px;
  min-width: 350px;
  color: #444;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: visible;
}

.group:not(.expanded) {
  height: 34px;
}

.expanded.group-title {
  height: 34px;
}

.group-title {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 5px;
  box-sizing: border-box;
}

.focusGroup .group-title {
  font-weight: bold;
}

.group-title-text {
  margin: auto 0;
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.group-controls {
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  min-height: 34px;
}

.group-controls i {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group-title > input {
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #444;
  padding: 1px;
  flex: 1;
  height: 21px;
  margin: auto 0;
}

.group .group-title:hover > input {
  width: 100%;
}

.group .group-controls .group-close, .group .group-controls .group-edit, .group .group-controls .group-undo {
  display: none;
}

.group:hover .group-controls .group-control {
  display: flex;
}

.group.removing:hover .group-controls .group-undo, .group.closing:hover .group-controls .group-undo {
  display: flex;
}

/*** End Group ***/

/*** Tab List ***/
.tab-list {
  display: none;
  border: 1px solid #a6a6a6;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #fff;
}

.tab-list.hoverStyle:hover {
  border: 1px solid transparent;
}

.expanded .tab-list {
  display: block;
}
/*** End Tab List ***/

/*** Tab ***/
.tab {
  color: #444;
  padding-left: 5px;
  display: flex;
  height: 34px;
  box-sizing: border-box;
  overflow: visible;
}

.tab-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto 0;
}

.tab.active .tab-title {
  font-weight: bold;
}

.pinned-icon {
  opacity: 0.7;
  height: 16px;
  width: 16px;
  margin: auto 0;
}

.arrow-focus {
  color: #000;
  height: 16px;
  width: 16px;
  font-weight: bold;
  margin: auto 0;
}

.window-open {
  height: 20px;
  align-self: center;
  color: #fff;
  font-weight: bold;
  background: var(--group-highlight);
  padding: 0 3px;
  border-radius: 3px;
  margin-right: 5px;
}

.group.incognito .window-open {
  background: var(--private-highlight);
}

.group.closing .window-open, .group.removing .window-open {
  background: #555;
}

.hidden-icon {
  opacity: 0.7;
  height: 16px;
  width: 16px;
  margin: auto 0;
  margin-right: 3px;
}

.tab-icon {
  height: 16px;
  width: 16px;
  margin: auto 0;
  margin-right: 3px;
}

.tab-controls {
  align-self: flex-end;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.tab .tab-controls .tab-edit {
  display: none;
}

.tab:hover .tab-controls .tab-edit {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*** End Tab ***/

/**** Search Bar ***/

body {
  background-color: #fff;
}

.cancel-search {
  right: 12px;
  display: inline-block;
  opacity: 0.7;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 0px;
}
/** Hide default cross on Chrome **/
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.searchbar {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.searchbar input {
  width: 100%;
  height: 34px;
  padding-left: 5px;
}

.hiddenBySearch {
  display: none;
}

.no-search-result {
  padding: 5px;
  position: relative;
}

.searchbar {
  margin-bottom: 3px;
}

/*** Search End ***/

/** Add Button **/
.addButton {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  font-weight: bold;
}

.addButton .group-title {
  display: flex;
  height: 100%;
  width: 100%;
}

.addButton input {
  flex: 1;
  margin: auto;
}

.addButton .group-title span {
  margin: auto;
  font-size: 15px;
}

.groupadd-controls i {
  font-size: 20px;
  padding: 6px 0px;
}
/** End Add Button **/

/** Drag & Drop **/
.dragTopBorder {
  border-top: 3px solid #2aa1c0 !important;
  padding-bottom: 3px;
}

.group.dragTopBorder {
  padding-bottom: 2px;
}

.dragBottomBorder {
  padding-top: 3px;
  border-bottom: 3px solid #2aa1c0 !important;
}

.group.dragBottomBorder {
  padding-top: 2px;
}

.group.draggingOver, .draggingOver {
  border: 1px dashed #ccc;
  background-color: #c0e7f1;
}

.addButton.draggingOver, .draggingOver {
  border: 1px dashed #ccc;
  background-color: #c0e7f1;
}

/** End Drag & Drop **/

.group-controls i, .tab-controls i, .cancel-search, .groupadd-controls i {
  width: 26px;
  background-color: none;
}
