/*** Button ***/

/* Source input file:
  * https://www.creativejuiz.fr/blog/tutoriels/input-file-personnalise-css-js
  */

/** Radio Button **/
.radio-button {
  display: flex;
  height: 35px;
}

.radio-button .left, .radio-button .right{
  background-color: var(--not-checked);
  color: #aaa;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-button .left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 5px;
}

.radio-button .right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 5px;
}

.radio-button .highlight {
  background-color: var(--group-focus);
  color: #fff;
}


/** End Radio Button **/

.button-file {
  position: relative;
  /*! width: 225px; */
  display: inline-block;
}

.button-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

.button-file-label, .option-button {
  display: block;
  padding: 15px;
  background: var(--checked);
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.option-button.disabled {
  background: var(--not-checked);
  color: #666;
}

.option-button.disabled:focus, .option-button.disabled:hover {
  background: var(--not-checked-hover);
}

.option-button {
  border: none
}

.button-file-input:hover+.button-file-label, .button-file-input:focus+.button-file-label, .button-file-label:hover, .button-file-label:focus, .option-button:focus, .option-button:hover {
  background: var(--checked-hover);
}

.button-file-label {
  text-align: center;
}

/*** Checkbox:
 * https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes
 */

.control {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  padding-left: 30px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--not-checked);
}

.control--radio .control__indicator {
  border-radius: 50%;
}

/* Hover and focus states */

.control:hover input~.control__indicator, .control input:focus~.control__indicator {
  background: var(--not-checked-hover);
}

/* Checked state */

.control input:checked~.control__indicator {
  background: var(--checked);
}

/* Hover state whilst checked */

.control:hover input:not([disabled]):checked~.control__indicator, .control input:checked:focus~.control__indicator {
  background: var(--checked-hover);
}

/* Disabled state */

.control input:disabled~.control__indicator {
  pointer-events: none;
  opacity: .6;
  background: var(--not-checked);
}

.control.disabled span {
  color: #ccc;
}

/* Check mark */

.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */

.control input:checked~.control__indicator:after {
  display: block;
}

/* Checkbox tick */

.control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */

.control--checkbox input:disabled~.control__indicator:after {
  border-color: var(--disabled);
}

/* Radio button inner circle */

.control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */

.control--radio input:disabled~.control__indicator:after {
  background: var(--disabled);
}

/*** End Checkbox *****/

/*** Select:
 * https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes
 */

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.select select {
  display: inline-block;
  width: 200px;
  padding: 10px 15px;
  margin-right: 15px;
  cursor: pointer;
  color: #2a2a2a;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: var(--not-checked);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select option {
   background: var(--not-checked);
}

.select select option:hover {
   background: var(--not-checked-hover);
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
	color: #000;
	background: var(--not-checked-hover);
}

.select select:disabled {
	pointer-events: none;
	opacity: .5;
}

.select__arrow {
  display: inline-block;
	position: relative;
	top: 0px;
	right: 20px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #3c3c3c transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
	border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
	border-top-color: var(--not-checked-hover);
}

/*** End Select *****/

/**** Input text *****/

.option-input-text-help {
  margin-left: 10px;
  color: var(--not-checked-hover);
}

/**** End Input text *****/
