:root {
    --group-open: #b3d5ff;
    --group-focus: #4d9dff;
    --group-hover: #1a81ff; /*99c7ff;*/
    --action-hover: #66abff;
    --private-debug: #f5e6ff;
    --private-open: #ebccff;
    --private-focus: #d699ff;
    --private-hover: #c266ff;
    --group-odd: hsl(211, 100%, 96%); /* #fff2e6 */
    --group-even: hsl(211, 100%, 98%); /* e6f2ff */
}

:root {
  --checked: #2aa1c0;
  --checked-hover: #0e647d;
  --not-checked: #e6e6e6;
  --not-checked-hover: #ccc;
  --disabled: #7b7b7b;
}
