:root {
  --checked: #2aa1c0;
  --checked-hover: #0e647d;
  --not-checked: #e6e6e6;
  --not-checked-hover: #ccc;
  --disabled: #7b7b7b;
}

body {
  background-color: #f9f9fa;
  color: #444;
  font-size: 1em;
  font-family: sans-serif;
}

/*** Manage Bar ***/
#menu {
  display: block;
  border-bottom: 3px solid #424f5a;
  width: 100%;
  color: #c4cdd4;
  height: 50px;
  z-index: 1;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  color: #2aa1c0;
}

.logo span {
  line-height: 50px;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
}

#menu .title {
  line-height: 50px;
  font-size: 1.5em;
  color: #424f5a;
}

#menu .right-buttons {
  display: inline-block;
  float: right;
  line-height: 50px;
}

/*** End Manage Bar ***/

/*** Manage Panel ***/
#manage-panel {
  width: 100%;
}

.invisible {
  display: none !important;
}

/** Group Lists **/
#manage-panel .left-list, #manage-panel .right-list {
  border-left: 4px solid #424f5a;
  box-sizing: border-box;
  float: left;
  overflow-x: auto;
}

.group-list {
  height: auto;
  max-height: calc(100vh - 120px);
  overflow: auto;
  border: 1px solid #424f5a;
  box-sizing: border-box;
}

#manage-panel .left-list {
  width: 100%;
  margin: 0 auto;
}

#manage-panel .half {
  width: 50%;
}
/** End Group Lists **/

/** Below Actions **/
.belowActions {
  height: 50px;
  width: 100%;
  border-top: 4px solid #424f5a;
  background-color: var(--not-checked);
}

.belowActions .left, .belowActions .right  {
  display: inline-block;
  width: 100px !important;
}

.belowActions .left, .belowActions .left i {
   float: left;
}

.belowActions .center {
  float: left;
  font-size: 30px;
  width: calc(100% - 200px);
}

.belowActions .right, .belowActions .right i{
   float: right;
}

.belowActions i {
  font-size: 40px;
  cursor: pointer;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

.belowActions i:hover {
  background-color: var(--not-checked-hover);
}
/** End Below Actions **/
/*** End Manage Panel ***/

/** TODO: bug tab title is too big  only in manage groups**/
.max-width-25 {
  max-width: calc(100% - 35px);
}

.max-width-35 {
  max-width: calc(100% - 45px);
}

.max-width-45 {
  max-width: calc(100% - 55px);
}

.max-width-65 {
  max-width: calc(100% - 75px);
}

.max-width-85 {
  max-width: calc(100% - 95px);
}

.max-width-115 {
  max-width: calc(100% - 125px);
}
